{% extends "atYourService/base.html" %}
{% block content %}


{% if user.is_authenticated %}
    <h1> Home Page</h1>
<!--    <h5> Welcome {{ client.Name }}!</h5>-->
<!--    <p>Username = {{ client.Username }} <br>-->
<!--        Your phone number = {{ client.PhoneNumber }} <br>-->
<!--        Date Joined = {{ client.DateJoined }}</p>-->
    <h5> Welcome {{ user.client.Name }}!</h5>
    <p>Username = {{ user.username }} <br>
        Your phone number = {{ user.client.PhoneNumber }} <br>
        Date Joined = {{ user.client.DateJoined }}</p>

{% else %}
    <h5>You are not logged in. <a href="{% url 'login' %}">Please Login</a> </h5>
{% endif %}

{% endblock content %}