{% extends "atYourService/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 style="color:black">{{ user.username }}</h2>
<!--    <h2>{{ user.DateJoined }}</h2>-->
    {% if user.client %}
        <p>Username = {{ user.username }} <br>
            Your phone number = {{ user.client.PhoneNumber }} <br>
            Date Joined = {{ user.client.DateJoined }}</p>
    {% else %}
        <p>Username = {{ user.username }} <br>
            Your phone number = {{ user.worker.PhoneNumber }} <br>
            Date Joined = {{ user.worker.DateJoined }}</p>
    {% endif %}
{% endblock content %}